@import "../../styles/_vars";
@import "../../styles/_mixins";

$size: 20px;
$animation-duration: 1000ms;
$width: 2px;

.progress {
    margin: 0 auto;
    width: $size;
    height: $size;
    position: relative;
    .progress__line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc($size + 8px);
        height: calc($size + 8px);
        border: $width solid $accent;
        border-radius: 50%;
    }
    svg {
        width: $size;
        height: $size;   
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-225deg);
        g {
            transform: translate(100,100);
            path {
                fill: $text;
            }
        }
    }
}